.not-found-container {
  background-color: #000000;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found-image {
  height: 400px;
  width: 80%;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .not-found-image {
    width: 60%;
  }
}

.not-found-heading {
  font-size: 25px;
  font-weight: bold;
  font-family: 'Roboto';
  color: #ffffff;
  text-align: center;
}

.not-found-para {
  font-size: 15px;
  font-weight: 500;
  font-family: 'Roboto';
  color: #f1f5f9;
  text-align: center;
}
